<template>
    <div class="<%= data.lowerName %>"></div>
</template>

<script>
export default {
    name: "<%= data.lowerName %>",
    data() {
        return {};
    },
    methods: {},
    created() {},
    mounted() {},
    mixin: [],
    computed() {},
};
</script>

<style lang="less" scoped>
.<%= data.lowerName %> {
}
</style>
